// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-global-header {
  padding: $spacing;
  background: red;
  h1 {
    font-size: $mantle;
    color: $light;
  }
}
